*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --primary:rgb(255, 196, 0);
    --secondary:rgb(255, 255, 255);
    --input-color:rgb(224, 224, 224);
    --button-color:rgb(255, 115, 0);

    --police-button:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body{
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 214, 214);
}

.box{
    background-color:var(--primary);
    width:95vw;
    height:90vh;
    display: flex;
}

form{
    background-color:var(--secondary);
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.box_log{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box_log a{
    width:150px;
    height: 40px;
    outline: none;
    background-color:var(--button-color);
    border:none;
    border-radius:20px;
    color:var(--secondary);
    text-align: center;
    text-decoration: none;
    padding-top: 8px;
    font-weight: 900;
    font-size:25px;
    font-family: var(--police-button);
    box-shadow: 3px 3px 5px 0.5px black;
    margin-top: 10px;
}



.box_log a:hover{
    background-color: rgb(255, 115, 0, 0.8);
}

.box_log h1,h2{
    color:white;
    text-shadow:2px 2px 2px black;
    margin-bottom: 10px;
}

form h1:first-of-type{
    margin-bottom: 50px;
    letter-spacing: 4px;
    text-shadow: 3px 3px 2px var(--button-color);
}

form input{
    width:70%;
    height: 50px;
    outline: none;
    background-color:var(--input-color);
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-size: large;
    letter-spacing:1px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 3px 3px 5px 0.5px black;
}

form button{
    width:70%;
    height: 50px;
    outline: none;
    background-color:var(--button-color);
    border:none;
    border-radius:10px;
    color:var(--secondary);
    padding-top: 5px;
    font-weight: 900;
    font-size:25px;
    font-family: var(--police-button);
    box-shadow: 3px 3px 5px 0.5px black;
}

form input:first-of-type{
    margin-bottom: 20px;
}

form span{
    color:red;
    font-size: small;
    margin:5px 0 20px 0;
}

form button:hover{
    background-color: rgb(255, 115, 0, 0.8);
}

input:focus{
    background-color: rgb(238, 238, 238, 0.8);
    box-shadow: 3px 3px 5px 0.5px black;
}

.success{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.success h1{
    color:white;
    text-shadow:2px 2px 2px black;
    margin-bottom: 10px;
}

.success a{
    display: inline-block;
    width:150px;
    height: 40px;
    outline: none;
    background-color:var(--button-color);
    border:none;
    border-radius:20px;
    color:var(--secondary);
    text-align: center;
    text-decoration: none;
    padding-top: 8px;
    font-weight: 900;
    font-size:25px;
    font-family: var(--police-button);
    box-shadow: 3px 3px 5px 0.5px black;
}

.success a:hover{
    background-color: rgb(255, 115, 0, 0.8);
}

.success span{
    color:var(--button-color);
    text-shadow:2px 2px 2px black;
}

.box_button{
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    width:25vw;
}