*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
	
:root{
    --primary:#0B162C;
    --secondary:#0d365c;
    --primary-shadow:#132344;
    --file:white;
    --opened:#5FC2BA;
    --closed:#D46F4D;
}

body{
    background-color:var(--secondary);
    overflow-x:hidden;
}

.waves{
    transform:rotateZ(-150deg);
    position:absolute;
    top:-60vh;
    left:80vh;
    z-index:-5;
}

.beach{
    transform:rotateZ(-150deg);
    position:absolute;
    top:-90vh;
    left:110vh;
    z-index:-5;
}

.bar{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:15%;
    background-color:var(--primary);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    box-shadow: 15px 5px 5px 1px var(--primary-shadow);
    border:1px solid black;
}


.pseudo{
    background: linear-gradient(30deg,grey,rgb(219, 219, 219));
    background-size: 300%;
    background-position: 0%;
    -webkit-background-clip:text;
    color:transparent;
    position:absolute;
    right:300px;
    font-size:40px;
    font-weight:900;
    letter-spacing: 0.2cm;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation:back 2s ease-out infinite;
}

@keyframes back{
    0%{
        background-position: 300%;
    }
    50%{
        background-position: 0%;
    }
    100%{
        background-position: 0%;
    }
}

.file{
    color:var(--file);
    font-size: xx-large;
    margin: 0 0 0 30px;
    
}

.file span{
    font-size: xx-large;
    color:var(--opened);
    margin:10px;
}

.log_out{
    position:absolute;
    right:90px;
    justify-self:flex-end;
    color:white;
    font-size: x-large;
    font-weight: 900;
    text-shadow: 3px 3px 1px black;
}

table{
    border-collapse: collapse;
    margin:50px 0 20px 80px;
    width:60vw;
    border: 1px solid black;
    background-color: var(--opened);
    box-shadow: 10px 10px 2px 1px var(--primary);
}

table tr:first-child{
    background-color: var(--primary);
    height:50px;
    color:white;
    font-weight: 800;
    letter-spacing:1px;
}

tr{
    height: 40px;
}

td{
    border: 1px solid black;
    text-align: center;
}

.box{
    border-radius: 20px;
    width:max-content;
    height:max-content;
    margin:29vh 0 0px 10vw;
}

.in{
    border-radius: 20px;
    height: 40px;
    width:250px;
    outline: none;
    padding-left:18px;
    border:none;
    box-shadow: 3px 3px 2px 1px var(--primary);
    color:grey;
    font-size: large;
    font-weight: 500;
    letter-spacing: 2px;
}

.sub{
    background-color: var(--primary);
    border-radius: 5px;
    height: 30px;
    width:80px;
    margin : 0 0 0 15px;
    font-size:medium;
    border:1px solid white;
    color:white;
    box-shadow: 3px 3px 2px 1px #0B162C;
    font-size:15px;
    cursor: pointer;
}

.all{
    background-color: var(--primary);
    border-radius: 5px;
    border:1px solid white;
    color:white;
    height: 30px;
    width:80px;
    margin : 0 0 0 10px;
    font-size:medium;
    position:absolute;
    top:30vh;
    left:480px;
    box-shadow: 3px 3px 2px 1px var(--primary);
    font-size:15px;
    cursor: pointer;
}

table tr td:nth-child(1){
    width : 50px;
}

table tr td:nth-child(2){
    width : 500px;
}

.opened{
    background-color: var(--opened);
}

.closed{
    background-color: var(--closed);
    color:white;
}

a{
    text-decoration: none;
    color:black;
}

.box_num{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:50%;
    position:absolute;
    top:0;
    left:25%;
}

.box_num a{
    margin:10px 20px 0 20px;
}

.numero{
    border:1px solid black;
    border-radius: 10%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: 900;
    box-shadow: 3px 3px 2px 1px var(--primary-shadow);
    cursor: pointer;
}

.actual_numero{
    position:relative;
    border:1px solid black;
    border-radius: 10%;
    width: 25px;
    height: 35px;
    text-align: center;
    font-weight: 900;
    overflow: hidden;
    box-shadow: 3px 3px 2px 1px var(--primary);
    cursor: pointer;
}

.actual_numero::after{
    content:" ";
    width: 100px;
    height: 35px;
    border-radius:100%;
    background-color: var(--closed);
    position:absolute;
    left: -40px;
    top:80%;
    transition:all 5s;
    animation:anim_num 3s forwards linear infinite alternate;
}

@keyframes anim_num{
    0%{
        transform:rotateZ(5deg);
    }
    50%{
        transform: translateY(-10%);
    }
    100%{
       
        transform: rotateZ(-5deg);
    }
}

.next{
    background-color: var(--primary);
    color:white;
    border:1px solid white;
    box-shadow: 3px 3px 2px 1px #0B162C;
    border-radius: 5px;
    height: 30px;
    width:60px;
    font-size:medium;
    position:absolute;
    top: 15%;
    left:75%;
    margin-left:3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;
    cursor: pointer;
}

.back{
    background-color: var(--primary);
    color:white;
    border:1px solid white;
    box-shadow: 3px 3px 2px 1px var(--primary);
    border-radius: 5px;
    height: 30px;
    width:60px;
    font-size:medium;
    position:absolute;
    top:15%;
    left:20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;
    cursor: pointer;
}

.box_nav{
    margin: 50px 0 0 0;
    width:100vw;
    height: 45px;
    position:relative;
}

.accueil_body{
    display:grid;
    grid-template-columns:1fr 1fr;
    column-gap:50px;
    padding:150px 150px
}

.accueil_body div{
    height: 100px;
    background-color: var(--closed);
    color: white;
    border-radius: 20px;
    text-align: center;
    padding-top:40px;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black;
}

.user_body .waves{
    transform:rotateZ(-150deg);
    position:absolute;
    top:-100vh;
    left:60vh;
    z-index:-5;
}

.user_body .beach{
    transform:rotateZ(-150deg);
    position:absolute;
    top:-130vh;
    left:60vh;
    z-index:-5;
}

.user_table{
    margin-top: 100px;
}

.user_table td:first-child{
    padding:0 10px;
}

.user_table td:nth-child(2){
    width:auto;
    padding:0 10px;
}